@{
    Layout ="_LayoutBackOffice";
}
<center>

<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Exception</h1>
        <br>
        <br>
        <p style="color: red;">@Model</p>
        <a class="btn" asp-controller="Administrateur" asp-action="Index">Retour a la page d'accueil</a>
       
      </section>

    </div>
  </main><!-- End #main -->

</center>