@{
    Layout = "_LayoutBackOffice";
}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Import donnée</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
         
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Import</h5>
              <!-- Multi Columns Form -->
              <form class="row g-3 needs-validation" asp-controller="Administrateur" asp-action="ImportEtapeResultat" method="POST" novalidate enctype="multipart/form-data">
                <div class="col-md-12">
                  <label for="inputName5" class="form-label">Etapes</label>
                  <input type="file" name="file_etape" class="form-control" id="inputName5" required>
                  <div class="invalid-feedback">Remplir s'il vous plait</div>

                </div>
              
                <div class="col-md-12">
                  <label for="inputName5" class="form-label">Resultat</label>
                  <input type="file" name="file_resultat" class="form-control" id="inputName5" required>
                  <div class="invalid-feedback">Remplir le resultat</div>

                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                  <button type="reset" class="btn btn-secondary">Effacer</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
