/* customStyles.css */

/* Style pour le titre et le contenu de la modale */
.modal-title,
.modal-body {
    color: #ffffff; /* Couleur du texte */
}

/* Style pour le contenu de la modale */
.modal-body {
    background-color: #343a40; /* Couleur de fond */
    padding: 20px; /* Espacement intérieur */
    border-radius: 5px; /* Bordures arrondies */
}

/* Style pour positionner la modale en bas à droite */
.modal-dialog {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
    max-width: 300px;
    width: auto;
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
}

/* Animation pour le défilement de la modale */
@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.modal.fade .modal-dialog {
    animation: slideIn 0.5s forwards;
}

.modal.fade .modal-dialog.hide {
    animation: slideOut 0.5s forwards;
}

/* Avancé : ajouter des effets de boîte ombrée et de surbrillance */
.modal-content {
    background: linear-gradient(135deg, #1c1c1c, #343a40);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-header {
    background: #0dadd1;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: none; /* Cacher le footer car nous n'avons pas besoin du bouton de fermeture */
}
